<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>316743317946-41sk8ntovh38rkd80nfgu4646tigtu19.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.316743317946-41sk8ntovh38rkd80nfgu4646tigtu19</string>
	<key>API_KEY</key>
	<string>AIzaSyA64CB9uRF2PwmqFLPYlgpGdNrvWKEyqpM</string>
	<key>GCM_SENDER_ID</key>
	<string>316743317946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.akshay.ecommerceAPP</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316743317946:ios:612b6927e1e834d6f58583</string>
	<key>DATABASE_URL</key>
	<string>https://ecommerce-ios.firebaseio.com</string>
</dict>
</plist>